{% extends "base.html" %}

{% set image = resize_image(path="/static/images/una.jpg", width=300, height=300, op="fit") %}
{% block content %}
<h1 class="title">
  This is my blog made with Zola.
</h1>

<div id="una-hcard" class="h-card">
	<div class="img-container">
		<img class="u-photo" src="{{ image.url }}" alt="Una Karlsen's profile image" />
	</div>
	<div class="text-container">
    <p>Hi, I'm <a class="p-name u-uid u-url" rel="me" href="https://unakarlsen.com"><span class="p-given-name">Una</span> <span class="p-family-name">Karlsen</span></a> (<span class="p-pronouns"><span class="p-x-pronoun-nominative p-pronoun-nominative p-pronoun">she</span>/<span class="p-pronoun-oblique p-x-pronoun-oblique">she</span>/<span class="p-pronoun-possessive p-x-pronoun-possessive">hers</span></span>), and I'm currently a <span class="p-job-title">Consultant</span> at <a class="p-org h-card" href="https://StrangeMinds.org/">StrangeMinds</a>.</p>
		<p>I currently live in <span class="p-locality">Cape Town</span>, <span p-country-name">South Africa</span>, with my partner <span class="h-card"><a class="p-name u-url" href="https://github.com/pidelport">Pi Delport</a></span>.</p>
		<p>I use my site as a method of blogging about my learnings, as well as sharing information about projects I have previously, or are currently, working on in my spare time.</p>
		<p>I'm a GNU/Linux user, a big advocate for the Free Software Movement, and the <a href="https://indieweb.org/why">IndieWeb movement</a> and I try to self host my own services where possible, instead of relying on other providers.</p>
		<p>Drop me an email at <a class="u-email" rel="me" href="mailto:una@unakarlsen.com">una@unakarlsen.com</a>, or using any of the other social links below.</p>
		<p style="display: none">My birthday is on the <time class="dt-bday" datetime="--05-05">5th May</time>.</p>
	</div>
</div>

<p>Click <a href="{{ get_url(path="@/blog/_index.md") }}">here</a> to see my posts.</p>
{% endblock content %}